#ini Port Aplikasi Gin Golang
PORT=port_number
#ini konfigurasi koneksi MySQL
DB_HOST=hostname
DB_PORT=port_number
DB_USER=username
DB_PASS=password
DB_NAME=database_name



TELEGRAM_BOT_TOKEN=telegram_bot_token


GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile



ANTHROPIC_API_KEY=your_anthropic_api_key
CLAUDE_MODEL=claude-3-5-sonnet-latest



GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.0-flash